/* // cSpell:enableCompoundWords */

#sidenav {
	height: 100%;
	width: 55px;
	position: fixed;
	z-index: 98;
	left: 0;
	top: 0;
	background-color: black;
	overflow-x: hidden;
	transition: 0.5s;
}

#dim {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 97;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.3);
	transition: 0.4s;
}

#sidenav-content {
	width: max-content;
	margin-top: 80px;
	margin-left: 30px;
	margin-right: auto;
	visibility: hidden;
	white-space: nowrap;
	text-overflow: hidden;
	transition: 0.12s;
	text-transform: uppercase;
}

#sidenav-content a {
	padding: 5px;
	text-decoration: none;
	font-size: 2rem;
	color: #ffffff;
	display: block;
	border-bottom: none;
}

.logo {
	font-family: Helvetica Neue;
	font-size: 3rem !important;
	line-height: 60px;
	margin-bottom: 60px;
	cursor: default;
}



.red-under {
	padding-bottom: 0px;
	border-bottom: 1px dashed red;
}

#sidenav a:hover,
sidenav a:focus {
	padding-bottom: 8px;
	color: #09CCCC;
	border-bottom: none;
}

#navclosebtn {
	position: fixed;
	width: 35px;
	height: 35px;
	left: 10px;
	top: 10px;
	color: white;
	visibility: hidden;
	cursor: pointer;
}

#navopenbtn {
	position: fixed;
	width: 35px;
	height: 35px;
	left: 10px;
	top: 10px;
	color: white;
	cursor: pointer;
}

.basebar {
	background-color: #06CCCC;
	color: #06CCCC;
	border: none;
	height: 20px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 99;
	margin: 0;
}

@media screen and (max-height: 450px) {
	.sidenav a {
		font-size: 20px;
	}

	.sidenav .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}