/* // cSpell:enableCompoundWords */

html {
	height: 100%;
	scroll-behavior: smooth;
}

@font-face {
	font-family: "HelveticaNeue";
	src: local("HelveticaNeue"), url("./fonts/HelveticaNeue.otf");
}

@font-face {
	font-family: "HelveticaNeue";
	src: local("HelveticaNeue-Bold"), url("./fonts/HelveticaNeue-Bold.otf");
	font-weight: Bold;
}

body {
	background-color: #222222;
}

u {
	border-bottom: 1px dashed #54C74F;
	text-decoration: none;
}

.redunder {
	border-bottom: 1px dashed red;
}

/* .sidenav {
	position: absolute;
	width: 75px;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 120000;
	text-align: center;
	overflow: hidden;
	background-color: #151515;
} */

.bm-burger-button {
	position: fixed;
	width: 36px;
	height: 30px;
	left: 20px;
	top: 20px;
}

.bm-burger-bars {
	background: #ffffff;
}

.bm-burger-bars-hover {
	background: #f1f1f1;
}

.bm-cross-button {
	height: 74px;
	width: 74px;
}

.bm-cross {
	background: #ffffff;
}

.bm-menu-wrap {
	position: fixed;
	height: 100%;
}

.bm-menu {
	background: #151515;
	padding-top: 15px;
	font-size: 1.15em;
}

.bm-item-list {
	color: #ffffff;
	padding: 8px 8px 8px 32px;
}

.bm-item {
	display: inline-block;
}

.bm-overlay {
	background: rgba(0, 0, 0, 0.3);
}

.bm-item {
	display: inline-block;
	color: #818181;
	margin-bottom: 10px;
	text-align: left;
	text-decoration: none;
	transition: color 0.2s;
}

.logo {
	font-family: Helvetica Neue;
	font-size: 60px !important;
	font-weight: Bold;
}

.textcenter {
	text-align: center;
}

.container {
	font-family: Helvetica Neue;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 50% 30% 20%;
	justify-items: end;
	align-items: center;
	height: 100vh;
}

#homeheader1 {
	color: whitesmoke;
	grid-column: 1/2;
	grid-row: 1/2;
	font-size: 11vw;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 88%;
	align-self: flex-end;
}

#homeheader2 {
	color: #ACACAC;
	grid-column: 1/2;
	grid-row: 2/3;
	font-size: 6vw;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 88%;
	align-self: flex-start;
}

#homeheader3 {
	color: whitesmoke;
	grid-column: 2/3;
	grid-row: 1/ 4;
	font-size: 20vw;
	font-weight: bold;
	text-transform: uppercase;
	justify-self: center;
	align-self: center;
	margin-top: -60px;
}

.homescroll {
	color: whitesmoke;
	grid-column: 1/3;
	grid-row: 3/4;
	text-align: center;
	font-size: 2vw;
	font-weight: bold;
	justify-self: center;
	align-self: flex-end;
	margin-bottom: 100px;
}

.basebar {
	background-color: #06CCCC;
	color: #06CCCC;
	border: none;
	height: 20px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 3;
	margin: 0;
}

#hometext {
	height: 100vh;
	color: whitesmoke;
	text-align: center !important;
}