/* // cSpell:enableCompoundWords */
* {
	margin: 0;
	padding: 0;
}

html {
	height: 100vh;
	scroll-behavior: smooth;
}

@font-face {
	font-family: "HelveticaNeue";
	src: local("HelveticaNeue"), url("./fonts/HelveticaNeue.otf");
}

@font-face {
	font-family: "HelveticaNeue";
	src: local("HelveticaNeue-Bold"), url("./fonts/HelveticaNeue-Bold.otf");
	font-weight: Bold;
}

@font-face {
	font-family: "GarisLengkung";
	src: local("GarisLengkung"), url("./fonts/GarisLengkung.otf");
}

body {
	background-color: #222222;
	font-family: Helvetica Neue, sans-serif;
	font-weight: bold;
	color: whitesmoke;
}

u {
	border-bottom: 4px solid #09CCCC;
	text-decoration: none;
}

a {
	border-bottom: 4px solid #09CCCC;
	text-decoration: none;
	color: whitesmoke;
}

/* a:visited {
	color: #818181;
	border-bottom: 1px dashed #818181;
}

a:visited:hover {
	color: #09CCCC;
} */

a:hover {
	color: #09CCCC;
	font-family: GarisLengkung, sans-serif;
	padding-bottom: 5px;
}

a::after {
	font-family: GarisLengkung, sans-serif;
	display: block;
	content: attr(title);
	height: 1px;
	overflow: hidden;
	visibility: hidden;

}

.aug::after {
	font-size: 2.5rem !important;
}

.aug:hover {
	padding-bottom: 13px !important;
	font-size: 2.8rem !important;
}

.name-under {
	padding-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}

.outer-container {
	padding-left: 55px;
	height: 100vh;
}

/* .container {
	text-align: center;
} */

.main-text {
	display: inline-block;
	text-align: left;
	font-size: 2.9rem;
	/* text-transform: uppercase; */
	padding-left: 7%;
	padding-right: 7%;
	margin-top: 5%;
	margin-bottom: 5%;
	/* animation: mainFadeIn 2s cubic-bezier(.74, .06, .4, .92) forwards; */

}

.about-text {
	display: inline-block;
	text-align: left;
	font-size: 2.3rem;
	/* text-transform: uppercase; */
	padding-left: 7%;
	padding-right: 7%;
	margin-top: 5%;
	margin-bottom: 5%;
	/* animation: mainFadeIn 2s cubic-bezier(.74, .06, .4, .92) forwards; */
}

.work-text {
	display: inline-block;
	text-align: left;
	font-size: 2.3rem;
	/* text-transform: uppercase; */
	padding-left: 7%;
	padding-right: 7%;
	margin-top: 5%;
	margin-bottom: 5%;
	/* animation: mainFadeIn 2s cubic-bezier(.74, .06, .4, .92) forwards; */
}

.about-text ul {
	margin-left: 2.5%;
}

.wrapper {
	/* display: flex; */
	height: 100vh;
	align-items: center;
	text-align: center;
}

.welcome-container {
	display: inline-block;
}

#welcome-header1 {
	position: absolute;
	float: right;
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 88%;
	margin-top: -20px;
	border-bottom: 10px solid #09CCCC;
}

#welcome-header2 {
	float: right;
	text-align: left;
	font-size: 7rem;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 88%;
	color: #ACACAC;
}

#welcome-header3 {
	font-size: 23rem;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: -50px;
}


#home-scroll {
	bottom: 50px;
	width: calc(100% - 55px);
	position: absolute;
	text-align: center;
	font-size: 2vw;
	font-weight: bold;
}

.page-title {
	padding-left: 7%;
	padding-top: 3%;
	text-transform: uppercase;
}

.page-title h1 {
	font-size: 3.6rem;
}

.page-title h2 {
	color: #ACACAC;
	font-size: 2rem;
}

.nav-list {
	margin-left: 7%;
	padding: 0px;
	font-size: 3rem;
	text-align: left;
	list-style: none;
}

.nav-list li {
	margin-top: 40px;
	margin-bottom: 40px;
	text-transform: uppercase;
}

.category-link {
	display: flex;
	padding-left: 7%;
	padding-right: 7%;
	justify-content: space-between;
}

.category-link div {
	display: grid;
}

.category-link a {
	margin-top: 100px;
	display: inline-block;
	font-size: 3rem;
	text-transform: uppercase;
}

.category-link img {
	margin-top: 40px;
	display: block;
	width: 320px;
	height: 320px;
	background-color: #09CCCC;
}

.period {
	color: #09CCCC;
	margin-left: 1px;
	font-family: Helvetica Neue, sans-serif;
}

.site-link {
	display: flex;
	padding-left: 7%;
	padding-right: 7%;
	justify-content: space-between;
}

.site-link div {
	display: grid;
}

.site-link a {
	margin-top: 120px;
	display: inline-block;
	font-size: 3rem;
	width: max-content;
	padding-bottom: 3px;
}

.site-link img {
	margin-top: 40px;
	display: block;
	width: 600px;
	height: 320px;
	background-color: #09CCCC;
}

.carousel-image {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 600px;
	height: 320px;
	background-color: #09CCCC;
}

#section-1 {
	height: 100vh;
}

#section-2 {
	height: 100vh;
	background-color: #09CCCC;

}

canvas {
	margin-left: auto;
	margin-right: auto;
	z-index: -1;
}