/* cSpell:enableCompoundWords */

/* Main setup */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

:root {
	--main-color: #09CCCC;
	--red-underline: 1px dashed red;
	--background-color: #222222;
	--subheader-color: #ACACAC;
}

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100vh;
	scroll-behavior: smooth;
}

@font-face {
	font-family: "HelveticaNeue";
	src: local("HelveticaNeue"), url("fonts/helvetica/HelveticaNeue.otf");
}

@font-face {
	font-family: "HelveticaNeue";
	src: local("HelveticaNeue-Bold"), url("fonts/helvetica/HelveticaNeue-Bold.otf");
	font-weight: Bold;
}

@font-face {
	font-family: "Lato";
	src: local("Lato"), url("fonts/lato/Lato-Regular.ttf");
}

body {
	background-color: var(--background-color);
	font-family: Helvetica Neue, sans-serif;
	color: whitesmoke;
	overflow: hidden;
}

u {
	text-decoration: none;
	background-image: linear-gradient(var(--main-color), var(--main-color));
	background-size: 100% 4px;
	background-position: 0 100%;
	background-repeat: no-repeat;
	/* padding: 5px 0px; */
}

a {
	padding: 0px 5px;
	font-weight: bold;
	color: whitesmoke;
	text-decoration: none;
	background-image: linear-gradient(var(--main-color), var(--main-color));
	background-size: 0% 100%;
	background-repeat: no-repeat;
	transition: .4s ease-out;
	text-transform: uppercase;
}

a:hover {
	background-size: 100% 100%;
}

ul {
	padding-left: 40px;
	margin-top: 40px;
}

section {
	height: 100vh;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: .5fr repeat(4, 1fr) .5fr;
	grid-template-rows: .5fr repeat(4, 1fr) .5fr;
}

/* Navigation menu */

#sidenav {
	height: 100%;
	width: 310px;
	margin-left: -310px;
	position: fixed;
	top: 0;
	background-color: black;
	overflow-x: hidden;
	transition: 0.5s;
	z-index: 98;
}

#nav-dim {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 97;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.3);
	transition: 0.4s;
}

#sidenav-content {
	width: max-content;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	text-transform: uppercase;
}

#sidenav-content a {
	padding: 5px;
	margin-bottom: 10px;
	text-decoration: none;
	font-size: 2rem;
	display: block;
}

.logo {
	font-weight: bold;
	font-size: 3rem;
	line-height: 60px;
	margin-bottom: 60px;
	cursor: default;
}

.red-under {
	border-bottom: var(--red-underline);
	background-image: none;
}

#navclosebtn {
	position: fixed;
	left: 15px;
	top: 5px;
	color: white;
	visibility: hidden;
	cursor: pointer;
}

#navopenbtn {
	position: fixed;
	left: 15px;
	top: 10px;
	color: white;
	cursor: pointer;
}

.basebar {
	background-color: var(--main-color);
	color: var(--main-color);
	border: none;
	height: 20px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 99;
	margin: 0;
}

@media screen and (max-height: 450px) {
	.sidenav a {
		font-size: 20px;
	}

	.sidenav .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}

/* Page Transition */

.load-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	z-index: 100;
	pointer-events: none;
}

.load-container div {
	left: -100%;
	width: 100%;
	height: 100%;
	position: absolute;
}

.load-container div:first-child {
	background-color: var(--main-color);
	/* background-color: #4bedc2; */
}

.load-container div:last-child {
	display: flex;
	flex-direction: column;
	background-color: black;
	font-size: 20vw;
	text-align: center;
	justify-content: center;
}

.load-container div:last-child h1 {
	padding-bottom: 13vh;
}

.scroller {
	overflow: scroll;
	height: 100vh;
	scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(100vh);
	scroll-snap-type: y mandatory;
}

.scroller section {
	height: 100%;
	scroll-snap-align: start;
}

/* Asterisk Elements */

#asterisk {
	grid-template-rows: auto 1fr 1fr;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}

#welcome {
	grid-column: 3 / 5;
	grid-row: 1 / 2;
	margin-top: 40%;
}

#welcome h1 {
	width: max-content;
	margin: auto;
	margin-bottom: 20px;
	font-size: 3.6rem !important;
}

#welcome h2 {
	font-weight: bold;
	text-transform: uppercase;
	color: var(--subheader-color);
	;
	font-size: 2rem;
}

#asterisk-canvas {
	position: fixed;
	z-index: -1;
}

#bootscreen {
	display: block;
	grid-column: 2 / 6;
	grid-row: 2 / 3;
	align-self: flex-end;
}

#bootscreen h1 {
	font-size: 2rem;
	margin-bottom: 20px;
}

#stat-container {
	position: fixed;
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: flex-end;
	bottom: 5%;
	z-index: 95;
	opacity: 0;
	font-size: 1.2rem;
	transition: all 1s;
}

#popup-container {
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	z-index: 5;
}

#popup-dim {
	height: 0%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.3);
}

#popup-close-button {
	position: fixed;
	left: 15px;
	top: 5px;
	color: white;
	cursor: pointer;
}

.info-popup {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: black;
	height: 400px;
	width: 600px;
}

#paused {
	visibility: hidden;
	text-transform: uppercase;
}

/* Page Content */

.period {
	color: var(--main-color);
	margin-left: 1px;
}

.page-title {
	align-self: start;
	text-transform: uppercase;
	grid-column: 2 / 5;
	grid-row: 2 / 2;
}

.page-title h1 {
	font-size: 3.6rem;
}

.page-title h2 {
	color: var(--subheader-color);
	font-size: 2rem;
}

.main-content {
	font-size: 1.5rem;
	grid-column: 2 / 6;
	grid-row: 3 / 6;
}

.main-content p {
	margin-top: 40px;
}

.main-content a {
	border-bottom: 2px solid var(--main-color);
	font-size: 1.8rem;
	content: "";
	/* display: block; */
	width: min-content;
}

/* .project {
	font-size: 1.5rem;
} */

/* .project img {
	display: block;
	margin-top: 40px;
	width: 450px;
	height: 320px;
	background-color: var(--main-color);
} */

.selection {
	display: flex;
	justify-content: space-between;
}

.selection img {
	display: block;
	margin-top: 40px;
	width: 320px;
	height: 320px;
	background-color: var(--main-color);
}

.other-selection img {
	width: 420px;
}

.other-stuff {
	font-size: 1.5rem;
	grid-column: 2 / 6;
	grid-row: 5 / 6;
	align-self: center;
}

.other-stuff a {
	border-bottom: 2px solid var(--main-color);
	content: "";
	/* display: block; */
	width: min-content;
}

.project-description {
	font-size: 1.5rem;
	grid-column: 2 / 6;
	grid-row: 5 / 7;
}

.project-description h2 {
	margin-bottom: 30px;
}

.project-description p {
	margin-bottom: 40px;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 5%);
	grid-gap: 15px;
}

.gallery_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Carousel Elements */

.carousel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	grid-column: 2 / 6;
	grid-row: 3 / 5;
}

.carousel .carousel-item {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
	width: 28vw;
	height: 15vw;
	overflow: hidden;
	transition: all 300ms ease-in-out;
	z-index: -1;
	opacity: 0;
}

.carousel-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#carousel-hidden-left {
	transform: translate(-125%, 0%) scale(0.8);
}

#carousel-hidden-right {
	transform: translate(25%, 0%) scale(0.8);
}

#current {
	opacity: 1;
	z-index: 99;
	box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}

#prev {
	z-index: 2;
	opacity: 0.25;
	transform: translate(-125%, 0%) scale(0.8);
}

#next {
	z-index: 2;
	opacity: 0.25;
	transform: translate(25%, 0%) scale(0.8);
}

.button-left:hover,
.button-right:hover {
	opacity: 1;
	cursor: pointer;
	transition: all 200ms ease-in-out;
}


.button-left {
	position: absolute;
	align-self: flex-start;
	opacity: .25;
	z-index: 75;
	transition: all 200ms ease-in-out;
}

.button-right {
	position: absolute;
	align-self: flex-end;
	opacity: .25;
	z-index: 75;
	transition: all 200ms ease-in-out;
}

/* Contact Form */

#contact-links {
	text-align: center;
}

#contact-links p {
	margin-top: 20px;
	margin-bottom: 20px;
}

#github {
	display: inline-block;
	margin-right: 10px;
	height: max-content;
	padding-top: 2px;
}

#linkedin {
	display: inline-block;
	margin-left: 10px;
	height: max-content;
	padding-top: 2px;
}

#form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#form-container p {
	margin-top: 0px;
	margin-bottom: 30px;
	text-align: center;
}

#form-container p:first-of-type {
	margin-top: -30px;
	margin-bottom: 10px;
}

#contact-form {
	width: 80%;
}

#contact-form ul {
	padding-left: 0px;
	margin-top: 0px;
}

#contact-form li {
	list-style: none;
	margin-bottom: 20px;

}

#name,
#email {
	width: 49%;
	float: left;
}

#email {
	margin-left: 2%;
}

#submit-button {
	/* margin-top: 20px; */
	width: 20%;
	background-image: linear-gradient(var(--main-color), var(--main-color));
	background-size: 0% 100%;
	/* border: 2px solid var(--main-color); */
	background-repeat: no-repeat;
	transition: .4s ease-out;
	text-transform: uppercase;
	font-weight: bold;
}

#submit-button:hover {
	background-size: 100% 100%;
	cursor: pointer;
	color: white;
}

input,
textarea {
	width: 100%;
	font-size: 1.5rem;
	line-height: 2rem;
	background-color: #363636;
	border-radius: 3px;
	border: none;
	border-bottom: 2px solid var(--main-color);
	padding: 10px;
	color: var(--subheader-color);
	transition: all 100ms ease-in-out;
	outline: none;
}

input:focus,
textarea:focus {
	background-color: #4b4b4b;
	transition: all 100ms ease-in-out;
	/* line-height: 2.5rem; */
}

label {
	display: none;
}