/* cSpell:enableCompoundWords */

/* Main setup */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

:root {
	--main-color: #09CCCC;
	--red-underline: 1px dashed red;
	--background-color: #222222;
}

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100vh;
	scroll-behavior: smooth;
}

@font-face {
	font-family: "HelveticaNeue";
	src: local("HelveticaNeue"), url("fonts/HelveticaNeue.otf");
}

@font-face {
	font-family: "HelveticaNeue";
	src: local("HelveticaNeue-Bold"), url("fonts/HelveticaNeue-Bold.otf");
	font-weight: Bold;
}

body {
	background-color: var(--background-color);
	font-family: Helvetica Neue, sans-serif;
	color: whitesmoke;
}

u {
	text-decoration: none;
	background-image: linear-gradient(var(--main-color), var(--main-color));
	background-size: 100% 4px;
	background-position: 0 100%;
	background-repeat: no-repeat;
}

a {
	padding: 5px;
	text-decoration: none;
	font-weight: bold;
	color: whitesmoke;
	outline: 0;
	background-image: linear-gradient(var(--main-color), var(--main-color));
	background-size: 0% 100%;
	background-position: 0 100%;
	background-repeat: no-repeat;
	transition: .4s ease-out;
}

a:hover {
	background-size: 100% 100%;
}

ul {
	padding-left: 40px;
}

/* Navigation menu */

#sidenav {
	height: 100%;
	width: 310px;
	margin-left: -310px;
	position: fixed;
	top: 0;
	background-color: black;
	overflow-x: hidden;
	transition: 0.5s;
	z-index: 98;
}

#dim {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 97;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.3);
	transition: 0.4s;
}

#sidenav-content {
	width: max-content;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	text-transform: uppercase;
}

#sidenav-content a {
	padding: 5px;
	margin-bottom: 10px;
	text-decoration: none;
	font-size: 2rem;
	display: block;
}

.logo {
	font-weight: bold;
	font-size: 3rem;
	line-height: 60px;
	margin-bottom: 60px;
	cursor: default;
}

.red-under {
	padding-bottom: 0px;
	border-bottom: var(--red-underline);
	background-image: none;
}

#navclosebtn {
	position: fixed;
	left: 15px;
	top: 5px;
	color: white;
	visibility: hidden;
	cursor: pointer;
}

#navopenbtn {
	position: fixed;
	left: 15px;
	top: 5px;
	color: white;
	cursor: pointer;
}

.basebar {
	background-color: var(--main-color);
	color: var(--main-color);
	border: none;
	height: 20px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 99;
	margin: 0;
}

@media screen and (max-height: 450px) {
	.sidenav a {
		font-size: 20px;
	}

	.sidenav .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}

/* Page Transition */

.load-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	z-index: 100;
	pointer-events: none;
}

.load-container div {
	left: -100%;
	width: 100%;
	height: 100%;
	position: absolute;
}

.load-container div:first-child {
	background-color: var(--main-color);
	/* background-color: #4bedc2; */
}

.load-container div:last-child {
	display: flex;
	flex-direction: column;
	background-color: black;
	font-size: 20vw;
	text-align: center;
	justify-content: center;
}

/* Asterisk Elements */

#asterisk {
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}

#welcome {
	padding-top: 10%;
}

#welcome h1 {
	width: max-content;
	margin: auto;
	margin-bottom: 20px;
	font-size: 3.6rem !important;
}

#welcome h2 {
	font-weight: bold;
	text-transform: uppercase;
	color: #ACACAC;
	font-size: 2rem;
}

#asterisk-canvas {
	position: fixed;
	z-index: -1;
}

#bootscreen {
	display: block;
	padding-top: 10%;
}

#bootscreen h1 {
	font-size: 2rem;
	margin: 20px;
}

#stat-container {
	position: fixed;
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: flex-end;
	bottom: 5%;
	z-index: 95;
	margin: 0;
	opacity: 0;
	font-size: 1.2rem;
	transition: all 1s;
}

#paused {
	visibility: hidden;
	text-transform: uppercase;
}

/* Page Content */

section {
	height: 100vh;
	padding: 20px;
}

.period {
	color: var(--main-color);
	margin-left: 1px;
}

.page-title {
	padding-left: 7%;
	padding-top: 3%;
	text-transform: uppercase;
}

.page-title h1 {
	font-size: 3.6rem;
}

.page-title h2 {
	color: #ACACAC;
	font-size: 2rem;
}

.main-text {
	display: inline-block;
	text-align: left;
	font-size: 1.5rem;
	padding-left: 7%;
	padding-right: 7%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.nav-list {
	margin-left: 7%;
	padding: 0px;
	font-size: 3rem;
	text-align: left;
	list-style: none;
}

.nav-list li {
	margin-top: 40px;
	margin-bottom: 40px;
	text-transform: uppercase;
}

.category-link {
	display: flex;
	padding-left: 7%;
	padding-right: 7%;
	justify-content: space-between;
}

.category-link div {
	display: grid;
}

.category-link a {
	margin-top: 100px;
	display: inline-block;
	font-size: 3rem;
	text-transform: uppercase;
}

.category-link img {
	margin-top: 40px;
	display: block;
	width: 320px;
	height: 320px;
	background-color: var(--main-color);
}

.site-link {
	display: flex;
	padding-left: 7%;
	padding-right: 7%;
	justify-content: space-between;
}

.site-link div {
	display: grid;
}

.site-link a {
	margin-top: 120px;
	display: inline-block;
	font-size: 3rem;
	width: max-content;
	padding-bottom: 3px;
}

.site-link img {
	margin-top: 40px;
	display: block;
	width: 600px;
	height: 320px;
	background-color: var(--main-color);
}

.carousel-image {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 600px;
	height: 320px;
	background-color: var(--main-color);
}

/* .scroller {
	overflow: scroll;
	height: 100vh;
	scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(100vh);
	scroll-snap-type: y mandatory;
}

.scroller section {
	height: 100%;
	scroll-snap-align: start;
} */